# lecagy files no longer used in project
not used/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/
myenv/

# Distribution / packaging
build/
dist/
*.egg-info/
src/*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyInstaller
*.manifest
*.spec

# Pytest
.pytest_cache/

# Cython
*.c
*.cpp
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.env.*
*.env

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VSCode
.vscode/

# PyCharm
.idea/

# Mac
.DS_Store

# Windows
Thumbs.db
Desktop.ini